# Created by .ignore support plugin (hsz.mobi)
/.idea/
/vendor/
/config/credentials.json
/config/service-account.json
/config/web-auth.json
/data/.~lock.data-account-file.xlsx#
/data/data-account-file.xlsx
